---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>Hi, I’m Asnim. I work as a software engineer at Sensibull. I am a Rustacean.</p>
	</div>
</PageLayout>
